<div class="cls-form" [formGroup]="formUserDialog">
  <h3>
    {{ modeForm == "adicion" ? "Nuevo Usuario" : "Edicion Usuario" }}
  </h3>

  <div class="cls-field">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" />
    </mat-form-field>
  </div>

  <div class="cls-field">
    <mat-form-field appearance="outline">
      <mat-label>Telefono</mat-label>
      <input type="number" matInput formControlName="telefono" />
    </mat-form-field>
  </div>

  <div class="cls-field">
    <mat-form-field appearance="outline">
      <mat-label>Fecha de nacimiento:</mat-label>
      <input matInput type="date" formControlName="fechaNacimiento" />
    </mat-form-field>
  </div>

  <div class="cls-field">
    <mat-form-field appearance="outline">
      <mat-label>Tipo:</mat-label>
      <mat-select formControlName="tipoUsuario">
        <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
          {{ tipo.text }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <button
    class="cls-agregar"
    *ngIf="modeForm == 'adicion'"
    (click)="saveUser()"
    style="color: #fff !important"
    mat-button
    color="primary"
  >
    Agregar
    <mat-icon>note_add</mat-icon>
  </button>

  <button
    class="cls-guardar"
    *ngIf="modeForm == 'edicion'"
    (click)="updateUser()"
    style="color: #fff !important"
    mat-button
    color="primary"
  >
    Guardar
    <mat-icon>save_alt</mat-icon>
  </button>

  <button class="cls-Cancel" color="primary" mat-button mat-dialog-close>
    Cancelar
  </button>
</div>