/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    border-radius: 70px;
    background-color: rgb(9, 255, 30) !important;
    padding: 50px;
}

.cls-button-table-edit {
    border-radius: 50px;
    background-color: rgb(63, 218, 205) !important;
    padding: 30px;
}

.cls-button-table-delete {
    border-radius: 50px;
    background-color: rgb(255, 0, 64) !important;
    padding: 30px;
}

.cls-button-table-detail {
    border-radius: 50px;
    background-color: rgb(116, 9, 255) !important;
    padding: 30px;
}

.cls-button-circle {
    background: #1a2ff1;
    color: #fff;
    padding: 7px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
