  <div class="cls-form" [formGroup]="formVehiculosDialog">

    <h3>
        {{ modeForm == "adicion" ? "Nuevo Usuario" : "Edicion Usuario" }}
      </h3>

    <div class="cls-field">
      <label for="">Numero de Placa:</label>
      <input type="text" formControlName="placa" />
    </div>

    <div class="cls-field">
      <label for="">Tipo de Vehiculo:</label>
      <select name="" id="" formControlName="tipo">
        <option *ngFor="let tipo of tipos" [value]="tipo.value">
          {{ tipo.text }}
        </option>
      </select>
    </div>

    <div class="cls-field">
      <label for="">Marca del Vehiculo:</label>
      <select
        type="text"
        formControlName="marca"
      >
        <option *ngFor="let car of cars" [value]="car.value">
          {{ car.value }}
        </option>
      </select>
    </div>

    <div class="cls-field">
      <label for="">Modelo del Vehiculo:</label>
      <input type="text" formControlName="modelo" />
    </div>

    <div class="cls-field">
      <label for="tentacles">Capacidad de Pasajeros:</label>
      <input
        type="string"
        placeholder="00-00"
        formControlName="capacidad_pasajeros"
        id="tentacles" name="tentacles"
       min="1" max="60"
      />
    </div>

    <div class="cls-field">
      <label for="tentacles">Cilindraje del Vehiculo:</label>
      <input type="string" formControlName="cilindraje" 
      placeholder="00000"
      id="tentacles" name="tentacles"
       min="125" max="10000" />
    </div>

    <div class="cls-field">
      <label for="">Pais Origen del Vehiculo:</label>
      <input type="text" formControlName="pais" />
    </div>

    <div class="cls-field">
      <label for="">Descripcion del Vehiculo:</label>
      <input type="text" formControlName="descripcion" />
    </div>
  
    <button class="cls-agregar"
      *ngIf="modeForm == 'adicion'"
      (click)="saveVehicle()"
      style="color: #fff !important"
      mat-button
      color="primary"
    >
      Agregar
      <mat-icon>note_add</mat-icon>
    </button>
  
    <button class="cls-guardar"
      *ngIf="modeForm == 'edicion'"
      (click)="updateVehicle()"
      style="color: #fff !important"
      mat-button
      color="primary"
    >
      Guardar
      <mat-icon>save_alt</mat-icon>
    </button>
    
    <button class="cls-Cancel" color="primary"  mat-button  mat-dialog-close > Cancelar </button >  
    </div>