<div class="cls-content-page">
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 30px;
    "
  >
    <h3>Gestion Vehiculos</h3>

    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Buscar</mat-label>
      <input matInput type="text" [(ngModel)]="value" />
      <button
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="value = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <span
      class="cls-button-circle"
      style="position: relative; top: -10px"
      (click)="changeShowForm()"
      >+</span
    >
  </div>

  <div class="cls-form" [formGroup]="formVehiculos" *ngIf="showForm">
    <div class="cls-field">
      <label for="">Numero de Placa:</label>
      <input type="text" formControlName="placa" />
    </div>

    <div class="cls-field">
      <label for="">Tipo de Vehiculo:</label>
      <select name="" id="" formControlName="tipo">
        <option *ngFor="let tipo of tipos" [value]="tipo.value">
          {{ tipo.text }}
        </option>
      </select>
    </div>

    <div class="cls-field">
      <label for="">Marca del Vehiculo:</label>
      <select
        type="text"
        formControlName="marca"
      >
        <option *ngFor="let car of cars" [value]="car.value">
          {{ car.value }}
        </option>
      </select>
    </div>

    <div class="cls-field">
      <label for="">Modelo del Vehiculo:</label>
      <input type="text" formControlName="modelo" />
    </div>

    <div class="cls-field">
      <label for="tentacles">Capacidad de Pasajeros:</label>
      <input
        type="string"
        placeholder="00-00"
        formControlName="capacidad_pasajeros"
        id="tentacles" name="tentacles"
       min="1" max="60"
      />
    </div>

    <div class="cls-field">
      <label for="tentacles">Cilindraje del Vehiculo:</label>
      <input type="string" formControlName="cilindraje" 
      placeholder="00000"
      id="tentacles" name="tentacles"
       min="125" max="10000" />
    </div>

    <div class="cls-field">
      <label for="">Pais Origen del Vehiculo:</label>
      <input type="text" formControlName="pais" />
    </div>

    <div class="cls-field">
      <label for="">Descripcion del Vehiculo:</label>
      <input type="text" formControlName="descripcion" />
    </div>

    <button
      *ngIf="modeForm == 'adicion'"
      (click)="saveVehiculos()"
      style="color: #fff !important"
      mat-button
      color="primary"
    >
      Agregar
      <mat-icon>note_add</mat-icon>
    </button>

    <button
      *ngIf="modeForm == 'edicion'"
      (click)="updateVehiculos()"
      style="color: #fff !important"
      mat-button
      color="primary"
    >
      Guardar
      <mat-icon>save_alt</mat-icon>
    </button>
  </div>

  <div *ngIf="showForm">
    <hr />
  </div>

  <div>
    <table mat-table [dataSource]="datos" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef>placa</th>
        <td mat-cell *matCellDef="let element">{{ element.placa }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef>tipo</th>
        <td mat-cell *matCellDef="let element">{{ element.tipo }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef>marca</th>
        <td mat-cell *matCellDef="let element">{{ element.marca }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef>modelo</th>
        <td mat-cell *matCellDef="let element">{{ element.modelo }}</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="capacidad_pasajeros">
        <th mat-header-cell *matHeaderCellDef>capacidad pasajeros</th>
        <td mat-cell *matCellDef="let element">
          {{ element.capacidad_pasajeros }}
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="cilindraje">
        <th mat-header-cell *matHeaderCellDef>cilindraje</th>
        <td mat-cell *matCellDef="let element">{{ element.cilindraje }}</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="pais">
        <th mat-header-cell *matHeaderCellDef>pais</th>
        <td mat-cell *matCellDef="let element">{{ element.pais }}</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>descripcion</th>
        <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="display: flex-container; gap: 5px; flex-direction: column"
        >
          <a class="cls-link" (click)="selectVehiculoEdit(element)">
            <button
              class="cls-button-table-edit"
              style="margin: 10px"
              mat-raised-button
              color="accent"
            >
              Editar
              <mat-icon>edit</mat-icon>
            </button>
          </a>
          <a class="cls-link" (click)="deleteVehiculos(element.placa)">
            <button
              class="cls-button-table-delete"
              style="margin: 10px"
              mat-raised-button
              color="warn"
            >
              Eliminar
              <mat-icon>delete_sweep</mat-icon>
            </button>
          </a>
          <a class="cls-link" (click)="selectVehiculoEdit(element)">
            <button
              class="cls-button-table-detail"
              style="margin: 10px"
              mat-raised-button
              color="accent"
            >
              Detalle
              <mat-icon>info</mat-icon>
            </button>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
